Source: easyeffects
Section: sound
Priority: optional
Maintainer: Randall Leeds <randall@bleeds.info>
Standards-Version: 6.2.5
Homepage: https://github.com/wwmm/easyeffects
Build-Depends: appstream-util,
               cmake,
               debhelper (>=11),
               desktop-file-utils,
               fftw-dev,
               itstool,
               meson (>=0.57),
               libadwaita-1-dev (>= 1.0.0),
               libbs2b-dev,
               libebur128-dev (>= 1.2.0),
               liblilv-dev (>= 0.22),
               libglib2.0-dev (>= 2.56),
               libgtk-4-dev (>= 4.2.1),
               libpipewire-0.3-dev (>= 0.3.41),
               librubberband-dev,
               libsamplerate0-dev,
               libsigc++-3.0-dev (>= 3.0.6),
               libsndfile1-dev,
               libspeex-dev,
               libtbb2-dev,
               libzita-convolver-dev,
               nlohmann-json3-dev,
               pkg-config,
               scour

Package: easyeffects
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         pipewire,
Recommends: calf-plugins (>= 0.90.0),
            liblilv-0-0,
            lsp-plugins-lv2 (>= 1.1.24) | lsp-plugins (>= 1.1.24),
            mda-lv2,
            zam-plugins
Description: Sound input and output effects for PulseAudio
 Many sound effects for PulseAudio input and output.

